<!DOCTYPE html>
{% load static %}
<html lang="eng">
    <head>
        <meta charset="UTF8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title> Home </title>
    </head>
<body>
<h1>Welcome to home page, hello {{nm}}</h1>
<img src="{% static 'images/gProfile.png' %}" alt="Django" />
<br>
<img src="{% get_static_prefix %}images/pagri.png" alt="Django2" />
<hr />
<form action="">
    <input type="button" value="Click me" onclick="display()">
</form>
<script src="{% static 'js/all.js' %}"></script>
</body>
</html>
